{% extends 'Student/base.html' %}
{% load static %}
{% block title %}
    <title>Thông báo từ nhà trường</title>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'tinymce/css/prism.css' %} ">
    <style>

        footer.site-footer {
            margin-top: 16.75% !important;
        }
        .divTitle{
            float: left;
            width: 100%;
            padding-bottom: 1.5%;
            border-bottom: 1px solid #d9d9d9
        }
        .box-title{
            font-weight: bold;
            font-size: 18px;
        }
        #id_old_password{
            margin-left: 125px;
            padding: 3px 10px;
            width: 57%;
            border: 2px solid #DDD;
            border-radius: 5px;
            margin-bottom: 15px;
        }
        #id_new_password2{
            margin-left: 15px;
            padding: 3px 10px;
            width: 57%;
            border: 2px solid #DDD;
            border-radius: 5px;
            margin-bottom: 15px
        }
        #id_new_password1{
            margin-left: 117px;
            padding: 3px 10px;
            width: 57%;
            border: 2px solid #DDD;
            border-radius: 5px;
        }
        .helptext > ul > li {
            display: inline-block;
            color: yellowgreen;
            margin-left: 13%;
            font-style: italic;
            font-size: 14px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12 ">
        <div class="card">
            <div class="card-body">
                <div class="divTitle">
                    <h2 class="box-title">Đổi mật khẩu</h2>
                </div>
            </div>
            <div class="card-body p-0">
                <form method="post" class="m-0" style="padding: 5px 25%">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" style="margin-left: 50.5%;margin-bottom: 15px;border-radius: 5px;background-color: #58C9F3;border: none;cursor: pointer;padding: 10px">Save changes</button>
                </form>
{#                <table class="table table-borderless" style="width: 77% !important;">#}
{#                    <tr>#}
{#                        <td class="float-right">Mật khẩu mới<i class="fa fa-star color-red ml-1" style="font-size: 12px"></i></td>#}
{#                        <td><input id="new_password" type="password" class="form-control" placeholder="Mật khẩu mới!" style="height: 30px;font-size: 15px;padding: 6px 10px"></td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="float-right">Xác nhận mật khẩu mới<i class="fa fa-star color-red ml-1" style="font-size: 12px"></i></td>#}
{#                        <td><input id="again_new_password" type="password" class="form-control" placeholder="Nhập lại chính xác mật khẩu mới!" style="height: 30px;font-size: 15px;padding: 6px 10px"></td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td colspan="2">#}
{#                            <button class="float-left" id="update_button" type="button" style="margin-left: 50.5%;border-radius: 5px;background-color: #58C9F3;border: none;cursor: pointer;padding: 10px">Xác nhận</button>#}
{#                        </td>#}
{#                    </tr>#}
{#                </table>#}
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /# column -->
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'tinymce/js/prism.js' %}"></script>
    <script src="{% static 'tinymce/js/tinymce/utils/validate.js' %}"></script>
    <script src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <script>
        {% comment %}jQuery(function () {
            jQuery("#update_button").click(function () {
                let data = {};

                if (jQuery("#new_password").val() !== ""){
                    data['new_password'] = jQuery("#new_password").val()
                }
                if (jQuery("#again_new_password").val() !== ""){
                    data['again_new_password'] = jQuery("#again_new_password").val()
                }

                if (data['new_password'] !== data['again_new_password']){
                    alert("Việc nhập lại mật khẩu mới không khớp!. Vui lòng nhập lại!")
                }else{
                    jQuery.ajax({
                        url:'/Student/changePassword/',
                        data:{
                            'data':data
                        },
                        success:function () {
                        }
                    });
                    jQuery(document).ajaxStop(function(){
                        window.location.reload();
                    });
                }
            });

        });{% endcomment %}
    </script>
{% endblock %}