{% extends 'Student/base.html' %}
{% block title %}
    <title>Học sinh trong lớp</title>
{% endblock %}
{% block stylesheet %}
    <style>
        footer.site-footer {
            margin-top: 0 !important;
        }
        .divTitle{
            float: left;
            width: 100%;
            padding-bottom: 1.5%;
            border-bottom: 1px solid #d9d9d9
        }
        .box-title{
            font-weight: bold;
            font-size: 18px;
        }
        .rowDuplex{
            background-color: white;
        }
        .rowOpp{
            background-color: #f5f5f5;
        }
        #test_score_id{
            padding: 3px 10px;
            width: 90%;
            border: 2px solid #DDD;
            border-radius: 5px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12 ">
        <div class="card">
            <div class="card-body">
                <div class="divTitle">
                    <h2 class="box-title">Thành tích học tập của các niên khoá</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th><span class="text-left text-info ">STT</span></th>
                                <th><span class="text-left text-info ">Niên khoá</span></th>
                                <th><span class="text-left text-info ">Thành tích</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- /.row -->
        </div>
    </div>
    <!-- /# column -->
</div>
{% endblock %}