{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'Student/css/dataTables.bootstrap4.min.css' %}?20200212">


<!-- Latest compiled and minified CSS -->
<style>
    .modal-header .close{
        margin: -2.5rem -1rem -1rem auto;
    }
    #dtBasic_paginate{
            float:right;
    }
    .dataTables_length{
        float: left;
    }
    #dtBasic_info{
        float: left;
    }

</style>

<input id="input_for_row_id" type="hidden" value="{{ row }}">
<input id="input_for_cel_id" type="hidden" value="{{ cel }}">
<div id="lbl"></div>
<div class="modal-header">
<h5 class="modal-title"><span style="font-size: 18px;font-weight: 600">Danh sách giáo viên toàn trường</span></h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close" >
  <span aria-hidden="true">&times;</span>
</button>
</div>

<div class="modal-body">
  <div class="table-responsive" style="overflow-x: initial">
      <table id="dtBasic" class="table table-striped table-bordered" style="border: 1px solid #dee2e6 !important" >
            <thead>
                <tr class="text-center">
                    <th ><span  class="text-left text-info ">STT</span></th>
                    <th><span class="text-left text-info ">Tên giáo viên</span></th>
                    <th><span class="text-left text-info ">Ngày</span></th>
                    <th><span class="text-left text-info ">Buổi</span></th>
                    <th><span class="text-left text-info ">Thời gian</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for foo in user_list %}
                    <tr>
                        <td style="line-height: 50px">{{ forloop.counter }}</td>
                        <td class="fullName" style="line-height: 50px">
                            <span class="fullName">{{ foo.first_name }} {{ foo.last_name }}</span>
                            <span hidden class="userId">{{ foo.id }}</span>
                        </td>

                        <td>
                            <div class="form-group m-0 p-0" >
                                <div class="input-group date" id="datetimepicker{{ forloop.counter }}" data-target-input="nearest" style="margin-top: 0.5rem">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker{{ forloop.counter }}" style="font-size: 14px"/>
                                    <div class="input-group-append" data-target="#datetimepicker{{ forloop.counter }}" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <select name="day_list" id="day_list_id" class="form-control" style="height: 30px;margin-top: 8.5%">
                                <option value="0">== Chọn buổi ==</option>
                                <option value="1">Sáng</option>
                                <option value="2">Chiều</option>
                                <option value="3">Tối</option>
                            </select>
                        </td>
                        <td>
                            <div class="form-group m-0 p-0" >
                                <div class="input-group date" id="datetimepicker{{ forloop.counter }}_{{ forloop.counter }}" data-target-input="nearest" style="margin-top: 0.5rem">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker{{ forloop.counter }}_{{ forloop.counter }}"/>
                                    <div class="input-group-append" data-target="#datetimepicker{{ forloop.counter }}_{{ forloop.counter }}" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button id="btn{{ forloop.counter }}" class="create-book btn btn-primary text-info" type="button" name="button" style="background: transparent;border: none;font-size: 15px;margin-top: .5rem">Chọn giáo viên</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
<script src="{% static 'Student/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'Student/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript">
    jQuery(function () {
        jQuery('#dtBasic').DataTable();

        {% comment %}date time picker{% endcomment %}
        {% for user in user_list %}

            jQuery('#datetimepicker{{ forloop.counter }}').datetimepicker({
                format: 'L'
            });

            jQuery('#datetimepicker{{ forloop.counter }}_{{ forloop.counter }}').datetimepicker({
                format: 'LT'
            });

            jQuery("#btn{{ forloop.counter }}").on("click",function () {
                var fullname = jQuery(this).closest("tr").find("td.fullName").find("span.fullName").text();
                var userId = jQuery(this).closest("tr").find("td.fullName").find("span.userId").text();
                var date = jQuery(this).closest("tr").find("td").find("#datetimepicker{{ forloop.counter }}").data("datetimepicker").valueOf()._datesFormatted[0];
                var day = jQuery(this).closest("tr").find("td").find("#day_list_id option:selected").text();
                var time = jQuery(this).closest("tr").find("td").find("#datetimepicker{{ forloop.counter }}_{{ forloop.counter }}").find("input").val();
                var bool = confirm("Hiệu trưởng chắc chứ?");

                if (bool){
                    jQuery(".{{ row }}_{{ cel }}").hide();

                    jQuery("#name_{{ row }}_{{ cel }}").addClass("d-block");
                    jQuery("#date_{{ row }}_{{ cel }}").addClass("d-block");
                    jQuery("#day_{{ row }}_{{ cel }}").addClass("d-block");
                    jQuery("#time_{{ row }}_{{ cel }}").addClass("d-block");

                    jQuery("#userId_{{ row }}_{{ cel }}_val").text(userId);
                    jQuery("#name_{{ row }}_{{ cel }}_val").text(fullname);
                    jQuery("#date_{{ row }}_{{ cel }}_val").text(date);
                    jQuery("#day_{{ row }}_{{ cel }}_val").text(day);
                    jQuery("#time_{{ row }}_{{ cel }}_val").text(time);

                    jQuery("#modal").remove();
                    jQuery(".modal-backdrop").remove();
                }else{
                    alert("Thank you! đã thao tác!");
                    jQuery("#modal").remove();
                    jQuery(".modal-backdrop").remove();
                }
            });
        {% endfor %}

    });
</script>